html, body{
    margin: 0;
    padding-top: 0;
}
.navbar{
    background-color: rgb(87, 85, 85);
    color: rgb(255, 255, 255);
    height: auto;
}
.navDer img{
    width: 8vh;
}

.elementos{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.elementos a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.imagen img{
    height: 30vw;
    width: 100%;
}

.computadora{
    border: 2px solid black;
    padding: 20px;
    
}
form{
    background: linear-gradient(0deg, #bbbfbd 0%, #ffffff 32%, #e6ebea 67%, #ffffff 100%);    border: 2px solid black;
    max-width: 650px;
    width: 50vw;
    padding: 30px;
    margin: 50px;
    margin-left: 28vw;
    align-content: center;

}
.formulario{
    font-family: sans-serif;
}



.btn{
    margin-top: 30px;
}